<main class="p-5">

    <div class="card p-5">
        <p id="test">Hello world!</p>
    </div>
    <div class="card p-5">
        <p id="test">Hello world!</p>

        <p id="test">Hello world! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Suscipit quod repellat ipsa iste repudiandae
            perferendis laborum omnis architecto quis provident iusto quo
            explicabo quas facilis, tempora ad hic consequatur sunt!
        </p>
    </div>
    <span class="test">Hello world!</span>
    <br>
    <pre>
        Lorem       ipsum    dolor sit amet consectetur adipisicing elit.
         Nostrum dolorum ut nesciunt quisquam laborum facere,
          cumque possimus culpa odit quia, impedit aut voluptas,
           fuga molestias doloremque illo!
         Quibusdam, quisquam atque?
    </pre>


</main>