<div class="p-5">
    <h1>jjjjjjjjjjjjj</h1>
</div>

{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
        <li></li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li></li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
    </ul>
</div> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <input class="input-dark p-5" placeholder="This is text" required> requi
</div>
<div class="card p-5 m-5 card-dark">
    <input class="input-dark" type="number"> requi
</div>
<div class="card p-5 m-5 card-dark">
    <button class="btn">Click my!</button>
    <p class="big-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic quidem esse dolores excepturi
        consectetur quod consequuntur tempore aliquam ad voluptatem a nesciunt praesentium magni,
        cumque rem, beatae aspernatur perspiciatis incidunt!</p>
</div> --}}

<div class="card p-5 m-5 card-dark">
    <a class="link" href="#">Click my</a>
</div>

<div id="test" class="card p-5 m-5 card-dark">
    Jakor <input type="Jakor">
    <button>Test button</button>
</div>
<div class=" p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>disabled button</button>
</div>
<div class=" p-5 m-5 card-dark">
    <input class="inp" disabled>
    <div class="mt-5">
        <div>
            <input type="checkbox">
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Three checkbox</span>
        </div>

    </div>

</div>

<div class=" p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="Test">
        <span>Test text</span>
    </div>
    <div class="mt-5">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>